{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
      <div id='mainContent'>
        <div class="row gap-20 masonry pos-r">
          <div class="masonry-sizer col-md-6"></div>
          <div class="masonry-item  w-100">
            <div class="row gap-20">
              <!-- #Количество обращений ==================== -->

            <div class='col-md-3'>
              <div class="layers bd bgc-white p-20">
                  <div class="layer w-100 mB-10">
                      <h6 class="lh-1">Количество обращений</h6>
                  </div>
                  <div class="layer w-100">
                      <div class="peers ai-sb fxw-nw">
                          <div class="peer peer-greed">
                            <span id="numberOfRequests">{{ appeal_count }}</span>
                          </div>
                      </div>
                  </div>
              </div>
            </div>


<!-- ... -->



              
              <!-- #Дата начала обращений ==================== -->
              <div class='col-md-3'>
                <div class="layers bd bgc-white p-20">
                  <div class="layer w-100 mB-10">
                    <h6 class="lh-1">Дата начала обращений</h6> 
                  </div>
                  <div class="layer w-100">
                    <div class="peers ai-sb fxw-nw">
                      <div class="peer peer-greed">
                        <span id="earliestStartDate">{{ earliest_appeal_date }}</span> <!-- Филлер, будет заменен данными с бекенда -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              

              <!-- #Последняя дата обращений ==================== -->
              <div class='col-md-3'>
                <div class="layers bd bgc-white p-20">
                  <div class="layer w-100 mB-10">
                    <h6 class="lh-1">Последняя дата обращений</h6> 
                  </div>
                  <div class="layer w-100">
                    <div class="peers ai-sb fxw-nw">
                      <div class="peer peer-greed">
                        <span id="latestEndDate">{{ latest_appeal_date }}</span> <!-- Филлер, будет заменен данными с бекенда -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              

              <!-- #Обращений за сегодня ==================== -->
              <div class='col-md-3'>
                <div class="layers bd bgc-white p-20">
                  <div class="layer w-100 mB-10">
                    <h6 class="lh-1">Обращений за сегодня</h6> 
                  </div>
                  <div class="layer w-100">
                    <div class="peers ai-sb fxw-nw">
                      <div class="peer peer-greed">
                        <span id="todaysRequests">{{ appeals_today_count }}</span> <!-- Филлер, будет заменен данными с бекенда -->
                      </div>
                    
              
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- почему то эта штука ломает вкладку Table 😭 -->
        <!-- график с динамикой обращений по неделям -->
        <head>
          <title>Monthly Stats</title>
          <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        </head>
        <div class="bd bgc-white">
          <div class="layers">
            <!-- Блок для первого графика -->
            <div class="layer w-100 p-20">
              <h3 title="Это график для отображения статистики обращений по неделям">Статистика по неделям</h3>
              <label for="tagFilter">Выберите тег: </label>
              <select id="tagFilter"></select>
              <!-- Новый элемент select для выбора временного периода -->
              <label for="timeFilter">Выберите временной период: </label>
              <select id="timeFilter">
                <option value="year">Этот год</option>
                <option value="quarter">Этот квартал</option>
                <option value="month">Этот месяц</option>
                <option value="week">Эта неделя</option>
              </select>
        
              <div id="line-chart" style="height: 400px;"></div>
            </div>
          </div>
        </div>
        
      
        <script>

          const timeFilter = document.getElementById('timeFilter');

          timeFilter.addEventListener('change', function() {
            const timeValue = this.value;
            const filteredJsonData = filterDataByTime(jsonData, timeValue);
            plotGraph(filteredJsonData, 'line-chart', tagFilter.value);
          });


          function filterDataByTime(data, timeValue) {
            const currentDate = new Date();
            const currentYear = currentDate.getFullYear();
            let filteredData = {};

            switch(timeValue) {
              case 'week':
                // Определите начало и конец текущей недели
                const startOfWeek = new Date(currentDate);
                startOfWeek.setDate(currentDate.getDate() - currentDate.getDay() + 1);
                const endOfWeek = new Date(currentDate);
                endOfWeek.setDate(currentDate.getDate() - currentDate.getDay() + 7);

                // Фильтрация данных
                for(const date in data) {
                  const yearWeek = date.split('-W');
                  const year = parseInt(yearWeek[0]);
                  const week = parseInt(yearWeek[1]);

                  // Найти дату начала недели
                  const dateOfStartOfWeek = new Date(year, 0, (week - 1) * 7 + 1);

                  if(dateOfStartOfWeek >= startOfWeek && dateOfStartOfWeek <= endOfWeek) {
                    filteredData[date] = data[date];
                  }
                }
                break;

              case 'month':
                for(const date in data) {
                  const yearWeek = date.split('-W');
                  const year = parseInt(yearWeek[0]);
                  const week = parseInt(yearWeek[1]);

                  // Найти дату начала недели
                  const dateOfStartOfWeek = new Date(year, 0, (week - 1) * 7 + 1);

                  if(dateOfStartOfWeek.getMonth() === currentDate.getMonth() &&
                    dateOfStartOfWeek.getFullYear() === currentYear) {
                    filteredData[date] = data[date];
                  }
                }
                break;

              case 'quarter':
                const currentQuarter = Math.floor(currentDate.getMonth() / 3);
                for(const date in data) {
                  const yearWeek = date.split('-W');
                  const year = parseInt(yearWeek[0]);
                  const week = parseInt(yearWeek[1]);

                  // Найти дату начала недели
                  const dateOfStartOfWeek = new Date(year, 0, (week - 1) * 7 + 1);
                  const weekQuarter = Math.floor(dateOfStartOfWeek.getMonth() / 3);

                  if(weekQuarter === currentQuarter && dateOfStartOfWeek.getFullYear() === currentYear) {
                    filteredData[date] = data[date];
                  }
                }
                break;

              case 'year':
                for(const date in data) {
                  const yearWeek = date.split('-W');
                  const year = parseInt(yearWeek[0]);

                  if(year === currentYear) {
                    filteredData[date] = data[date];
                  }
                }
                break;

              default:
                filteredData = { ...data };
            }

            return filteredData;
          }

          var jsonData = {{ jsonData | safe }}


          // const jsonData = {
          //   '2023-W04': {'Tag1': 20, 'Tag2': 25},
          //   '2023-W05': {'Tag221': 10, 'Tag2': 25},
          //   '2023-W03': {'Tag111': 20, 'Tag234': 25},
          //   '2023-W07': {'Tag321': 10, 'Tag2': 25},
          //   '2023-W09': {'Tag221': 10, 'Tag2': 25},
          //   '2023-W08': {'Tag12311': 20, 'Tag234': 25},
          //   '2023-W40': {'Tag1-тоуотмуом': 10, 'Tag2': 15},
          //   '2023-W41': {'Tag1-тоуотмуом': 10, 'Tag2': 15},
          //   '2023-W49': {'Tag1-тоуотмуом': 10, 'Tag2': 15},

          // };
        

      
          function getUniqueTags(data) {
            const tags = new Set();
            for (const week of Object.values(data)) {
              for (const tag in week) {
                tags.add(tag);
              }
            }
            return Array.from(tags);
          }
      
          function populateTagFilter(tags, filterElementId) {
            const tagFilter = document.getElementById(filterElementId);
            tagFilter.innerHTML = '<option value="all">Все</option>';
            tags.forEach(tag => {
              tagFilter.innerHTML += `<option value="${tag}">${tag}</option>`;
            });
          }
      
          function plotGraph(data, chartElementId, filterTag = 'all') {
          const traces = [];
          let tags = filterTag === 'all' ? getUniqueTags(data) : [filterTag];

            
            tags.forEach((tag, index) => {
                const trace = {
                    x: [],
                    y: [],
                    mode: 'lines',
                    name: tag.length > 10 ? tag.substring(0, 10) + '...' : tag, // Обрезать имя тега, если оно слишком длинное
                    legendgroup: index < 20 ? tag : 'Other'  // Группировать все теги после 20 в одну группу Other
                };
                for (const [week, values] of Object.entries(data)) {
                    trace.x.push(week);
                    trace.y.push(values[tag] || 0);
                }
                traces.push(trace);
            });
  
            function plotGraph_bar(data, chartElementId, filterTag = 'all') {
            const traces = [];
            let tags = filterTag === 'all' ? getUniqueTags(data) : [filterTag];
            
            tags.forEach((tag, index) => {
                const trace = {
                    x: [],
                    y: [],
                    type: 'bar', // Изменено с mode на type и установлено значение bar
                    name: tag.length > 10 ? tag.substring(0, 10) + '...' : tag, 
                    legendgroup: index < 20 ? tag : 'Other'
                };
                for (const [week, values] of Object.entries(data)) {
                    trace.x.push(week);
                    trace.y.push(values[tag] || 0);
                }
                traces.push(trace);
            });

            // Layout для улучшения читаемости
            const layout = {
                barmode: 'stack', 
                xaxis: {
                    tickangle: -45,  // Наклон меток по оси X для лучшей читаемости
                    automargin: true
                },
                yaxis: {
                    title: 'Значения'
                }
            };

            Plotly.newPlot(chartElementId, traces, layout);
        }

        function getUniqueTags(data) {
            const tagsSet = new Set();
            for (const weekValues of Object.values(data)) {
                for (const tag of Object.keys(weekValues)) {
                    tagsSet.add(tag);
                }
            }
            return [...tagsSet];
        }



    const layout = {
        legend: {
            //  настройки для легенды
        }
    };
    
    Plotly.newPlot(chartElementId, traces, layout);
}

      
          // Инициализация
          const uniqueTags = getUniqueTags(jsonData);
          populateTagFilter(uniqueTags, 'tagFilter');
          plotGraph(jsonData, 'line-chart');

          const tagFilter = document.getElementById('tagFilter');

          tagFilter.addEventListener('change', function() {
            plotGraph(jsonData, 'line-chart', this.value);
            // plotGraph(anomalyData, 'anomaly-chart', this.value);
          });
        </script>

<head>
  <title>Статистика по аномальным тегам</title>
  <style>
    .redText {
      color: red;
    }
  </style>
</head>
<body>

<div class="bd bgc-white">
  <div class="layers">
    <div class="layer w-100 p-20">
      <h3>Аномальные теги</h3>
      <!-- Место для надписи о времени последнего обновления -->
      <div id="lastUpdated"></div>
      <div id="anomalyBarChart" style="height: 400px;"></div>
    </div>
  </div>
</div>

<script>

  var anomalyjson = {{ anomalyjson | safe }}
  const lastUpdatedDate = '2023-09-30';

  // Рассчитываем разницу в днях между текущей датой и датой последнего обновления
  const today = new Date();
  const lastUpdated = new Date(lastUpdatedDate);
  const diffInDays = Math.ceil((today - lastUpdated) / (1000 * 60 * 60 * 24));

  // Добавляем информацию о дате последнего обновления
  const lastUpdatedDiv = document.getElementById('lastUpdated');
  lastUpdatedDiv.innerHTML = `Последнее обновление: ${lastUpdatedDate}`;
  
  // Если разница в днях больше 3, делаем текст красным
  if (diffInDays > 3) {
    lastUpdatedDiv.classList.add('redText');
  }

  // Сортировка тегов по аномальности в порядке убывания
  const sortedTags = Object.keys(anomalyjson).sort((a, b) => anomalyjson[b] - anomalyjson[a]);

  // Сбор данных для графика
  const trace = {
    x: sortedTags,
    y: sortedTags.map(tag => anomalyjson[tag]),
    type: 'bar'
  };

  const layout = {
    title: 'Аномальные теги',
    xaxis: {
      title: 'Теги',
      tickvals: [...Array(sortedTags.length).keys()],
      ticktext: sortedTags,
      tickfont: {
        size: 8
      }
    },
    yaxis: {
      title: 'Значение аномальности'
    }
  };

  Plotly.newPlot('anomalyBarChart', [trace], layout);
</script>
</body>








<head>
  <title>Статистика по тегам</title>
</head>
<div class="bd bgc-white">
  <div class="layers">
      <div class="layer w-100 p-20">
          <h3>Распределение по тегам</h3>
          <!-- <label for="timeFilter">Выберите временной период: </label>
          <select id="timeFilter"> -->
              <option value="year">Этот год</option>
              <option value="quarter">Этот квартал</option>
              <option value="month">Этот месяц</option>
              <option value="week" selected>Эта неделя</option>
          </select>
          <div id="pie-chart" style="height: 400px;"></div>
      </div>
  </div>
</div>
</div>
<script>


  const timeFilterElement = document.getElementById('timeFilter');
  timeFilterElement.addEventListener('change', () => {
      updatePieChart();
  });

  function filterDataByTime(data, timeValue) {
      let filteredData = {};
      const currentDate = new Date();
      const currentYear = currentDate.getFullYear();

      switch(timeValue) {
              case 'week':
                // Определите начало и конец текущей недели
                const startOfWeek = new Date(currentDate);
                startOfWeek.setDate(currentDate.getDate() - currentDate.getDay() + 1);
                const endOfWeek = new Date(currentDate);
                endOfWeek.setDate(currentDate.getDate() - currentDate.getDay() + 7);

                // Фильтрация данных
                for(const date in data) {
                  const yearWeek = date.split('-W');
                  const year = parseInt(yearWeek[0]);
                  const week = parseInt(yearWeek[1]);

                  // Найти дату начала недели
                  const dateOfStartOfWeek = new Date(year, 0, (week - 1) * 7 + 1);

                  if(dateOfStartOfWeek >= startOfWeek && dateOfStartOfWeek <= endOfWeek) {
                    filteredData[date] = data[date];
                  }
                }
                break;

              case 'month':
                for(const date in data) {
                  const yearWeek = date.split('-W');
                  const year = parseInt(yearWeek[0]);
                  const week = parseInt(yearWeek[1]);

                  // Найти дату начала недели
                  const dateOfStartOfWeek = new Date(year, 0, (week - 1) * 7 + 1);

                  if(dateOfStartOfWeek.getMonth() === currentDate.getMonth() &&
                    dateOfStartOfWeek.getFullYear() === currentYear) {
                    filteredData[date] = data[date];
                  }
                }
                break;

              case 'quarter':
                const currentQuarter = Math.floor(currentDate.getMonth() / 3);
                for(const date in data) {
                  const yearWeek = date.split('-W');
                  const year = parseInt(yearWeek[0]);
                  const week = parseInt(yearWeek[1]);

                  // Найти дату начала недели
                  const dateOfStartOfWeek = new Date(year, 0, (week - 1) * 7 + 1);
                  const weekQuarter = Math.floor(dateOfStartOfWeek.getMonth() / 3);

                  if(weekQuarter === currentQuarter && dateOfStartOfWeek.getFullYear() === currentYear) {
                    filteredData[date] = data[date];
                  }
                }
                break;

              case 'year':
                for(const date in data) {
                  const yearWeek = date.split('-W');
                  const year = parseInt(yearWeek[0]);

                  if(year === currentYear) {
                    filteredData[date] = data[date];
                  }
                }
                break;

              default:
                filteredData = { ...data };
            }


      return filteredData;
  }

  function aggregateDataByTags(filteredData) {
      const aggregatedData = {};

      for (const week in filteredData) {
          for (const tag in filteredData[week]) {
              if (!aggregatedData[tag]) aggregatedData[tag] = 0;
              aggregatedData[tag] += filteredData[week][tag];
          }
      }

      return aggregatedData;
  }

  function updatePieChart() {
      const timeValue = timeFilterElement.value;
      const filteredData = filterDataByTime(jsonData, timeValue);
      const aggregatedData = aggregateDataByTags(filteredData);

      const tags = Object.keys(aggregatedData);
      const values = Object.values(aggregatedData);

      const pieData = [{
          values: values,
          labels: tags,
          type: 'pie'
      }];

      Plotly.newPlot('pie-chart', pieData);
  }

  // Начальное отображение графика
  updatePieChart();

</script>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Рейтинг пользователей</title>
</head>
<body>
  <div class="bd bgc-white">
    <div class="layers">
      <div class="layer w-100 p-20">
        <h3>Рейтинг пользователей</h3>
        <div id="bar-chart" style="height: 400px;"></div>
      </div>
    </div>
  </div>

  <script>
    // var data = {
    //   users: Array.from({length: 100}, (_, i) => "User " + (i + 1)),
    //   ratings: Array.from({length: 100}, () => Math.floor(Math.random() * 100))
    // };
    var data = {{ data | safe }};

    // Получение топ 50 пользователей с наименьшим рейтингом
    var sortedIndices = data.ratings.map((rating, index) => index).sort((a, b) => data.ratings[a] - data.ratings[b]);
    var topUsers = sortedIndices.slice(0, 50).map(index => data.users[index]);
    var topRatings = sortedIndices.slice(0, 50).map(index => data.ratings[index]);

    // Создание столбчатой диаграммы
    Plotly.newPlot('bar-chart', [{
      x: topUsers,
      y: topRatings,
      type: 'bar'
    }], {
      title: 'Топ 50 пользователей с наименьшим рейтингом',
      xaxis: {
        title: 'Пользователь',
        tickfont: {
          size: 8 // Установка меньшего размера шрифта для подписей на оси X
        }
      },
      yaxis: {
        title: 'Уровень рейтинга'
      }
    });
  </script>
</body>
</html>

<head>
  <title>Статистика по тегам</title>
</head>
<body>

<div class="bd bgc-white">
  <div class="layers">
      <div class="layer w-100 p-20">
          <h3>Конструктивность сообщений по неделям</h3>
          <label for="uniqueTagSelector">Выберите тег: </label>
          <select id="uniqueTagSelector">
              <option value="all">Все теги</option>
          </select>
          <div id="uniqueBarChart" style="height: 400px;"></div>
      </div>
  </div>
</div>

<script>
// const uniqueConstructiveData = {
//   '2023-W39': {'Tag1': 10, 'Tag2': 15},
//   '2023-W04': {'Tag1': 20, 'Tag2': 25},
//   '2023-W05': {'Tag221': 10, 'Tag2': 25},
//   '2023-W03': {'Tag111': 20, 'Tag234': 25}
// };
var uniqueConstructiveData = {{ uniqueConstructiveData | safe }};

// Создание списка всех уникальных тегов
const uniqueAllTags = new Set();
for (const weekData of Object.values(uniqueConstructiveData)) {
  for (const tag of Object.keys(weekData)) {
      uniqueAllTags.add(tag);
  }
}

// Добавление тегов в фильтр
const uniqueTagSelector = document.getElementById('uniqueTagSelector');
uniqueAllTags.forEach(tag => {
  const option = document.createElement('option');
  option.value = tag;
  option.textContent = tag;
  uniqueTagSelector.appendChild(option);
});

function updateUniquePlot() {
  const selectedTag = uniqueTagSelector.value;
  const weeks = Object.keys(uniqueConstructiveData).sort();

  const values = weeks.map(week => {
      const weekData = uniqueConstructiveData[week];
      if (selectedTag === 'all') {
          const sum = Object.values(weekData).reduce((a, b) => a + b, 0);
          return sum / Object.keys(weekData).length;
      }
      return weekData[selectedTag] || 0;
  });

  const trace = {
      x: weeks,
      y: values,
      type: 'bar',
      name: selectedTag
  };

  const layout = {
      title: `Конструктивность сообщений по неделям`,
      xaxis: {title: 'Неделя'},
      yaxis: {title: 'Количество'}
  };

  Plotly.newPlot('uniqueBarChart', [trace], layout);
}

uniqueTagSelector.addEventListener('change', updateUniquePlot);

// Инициализация графика
updateUniquePlot();
</script>

</body>
<div class="bd bgc-white">
  <div class="layers">
      <div class="layer w-100 p-20">
          <h3>Токсичность сообщений по неделям</h3>
          <label for="toxicTagSelector">Выберите тег: </label>
          <select id="toxicTagSelector">
              <option value="all">Все теги</option>
          </select>
          <div id="toxicBarChart" style="height: 400px;"></div>
      </div>
  </div>
</div>


<script>
// const toxicDataByWeek = {
//   '2023-W39': {'Tag1': 10, 'Tag2': 15},
//   '2023-W04': {'Tag1': 20, 'Tag2': 25},
//   '2023-W05': {'Tag221': 10, 'Tag2': 25},
//   '2023-W03': {'Tag111': 20, 'Tag234': 25}
// };
var toxicDataByWeek = {{ toxicDataByWeek | safe }};
// Populate list of unique tags
const allUniqueTags = new Set();
for (const weekData of Object.values(toxicDataByWeek)) {
  for (const tag of Object.keys(weekData)) {
      allUniqueTags.add(tag);
  }
}

// Populate tag filter
const toxicTagSelector = document.getElementById('toxicTagSelector');
allUniqueTags.forEach(tag => {
  const option = document.createElement('option');
  option.value = tag;
  option.textContent = tag;
  toxicTagSelector.appendChild(option);
});

function renderToxicPlot() {
  const selectedTag = toxicTagSelector.value;
  const weeks = Object.keys(toxicDataByWeek).sort();

  const values = weeks.map(week => {
      const weekData = toxicDataByWeek[week];
      if (selectedTag === 'all') {
          const sum = Object.values(weekData).reduce((a, b) => a + b, 0);
          return sum / Object.keys(weekData).length;
      }
      return weekData[selectedTag] || 0;
  });

  const trace = {
      x: weeks,
      y: values,
      type: 'bar',
      name: selectedTag
  };

  const layout = {
      title: `Токсичность сообщений по неделям`,
      xaxis: {title: 'Неделя'},
      yaxis: {title: 'Количество'}
  };

  Plotly.newPlot('toxicBarChart', [trace], layout);
}

toxicTagSelector.addEventListener('change', renderToxicPlot);

// Initialize the chart
renderToxicPlot();
</script>

</body>


      </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
