{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- ### $App Screen Content ### -->
    <main class='main-content bgc-grey-100'>
      <div id='mainContent'>
        <div class="row gap-20 masonry pos-r">
          <div class="masonry-sizer col-md-6"></div>
          <div class="masonry-item  w-100">
            <div class="row gap-20">
              <!-- #Количество обращений ==================== -->
              <div class='col-md-3'>
                <div class="layers bd bgc-white p-20">
                  <div class="layer w-100 mB-10">
                    <h6 class="lh-1">Количество обращений</h6>
                  </div>
                  <div class="layer w-100">
                    <div class="peers ai-sb fxw-nw">
                      <div class="peer peer-greed">
                        <span id="numberOfRequests">0</span> <!--  Филлер, будет заменен данными с бекенда --> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- #Дата начала обращений ==================== -->
              <div class='col-md-3'>
                <div class="layers bd bgc-white p-20">
                  <div class="layer w-100 mB-10">
                    <h6 class="lh-1">Дата начала обращений</h6> 
                  </div>
                  <div class="layer w-100">
                    <div class="peers ai-sb fxw-nw">
                      <div class="peer peer-greed">
                        <span id="earliestStartDate">N/A</span> <!-- Филлер, будет заменен данными с бекенда -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              

              <!-- #Последняя дата обращений ==================== -->
              <div class='col-md-3'>
                <div class="layers bd bgc-white p-20">
                  <div class="layer w-100 mB-10">
                    <h6 class="lh-1">Последняя дата обращений</h6> 
                  </div>
                  <div class="layer w-100">
                    <div class="peers ai-sb fxw-nw">
                      <div class="peer peer-greed">
                        <span id="latestEndDate">N/A</span> <!-- Филлер, будет заменен данными с бекенда -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              

              <!-- #Обращений за сегодня ==================== -->
              <div class='col-md-3'>
                <div class="layers bd bgc-white p-20">
                  <div class="layer w-100 mB-10">
                    <h6 class="lh-1">Обращений за сегодня</h6> 
                  </div>
                  <div class="layer w-100">
                    <div class="peers ai-sb fxw-nw">
                      <div class="peer peer-greed">
                        <span id="todaysRequests">0</span> <!-- Филлер, будет заменен данными с бекенда -->
                      </div>
                    
              
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- почему то эта штука ломает вкладку Table 😭 -->
        <!-- график с динамикой обращений по неделям -->
        <head>  
          <title>Monthly Stats</title>
          <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        </head>
        <div class="bd bgc-white">
          <div class="layers">
            <!-- Блок для первого графика -->
            <div class="layer w-100 p-20">
              <h3 title="Это график для отображения статистики обращений по неделям">Статистика по неделям</h3>
              <label for="tagFilter">Выберите тег: </label>
              <select id="tagFilter"></select>
              <!-- Новый элемент select для выбора временного периода -->
              <label for="timeFilter">Выберите временной период: </label>
              <select id="timeFilter">
                <option value="year">Этот год</option>
                <option value="quarter">Этот квартал</option>
                <option value="month">Этот месяц</option>
                <option value="week">Эта неделя</option>
              </select>

              <div id="line-chart" style="height: 400px;"></div>
            </div>
            <!-- Блок для второго графика -->
            <div class="layer w-100 p-20">
              <h3 title="Это график для отображения аномальных тегов по неделям. Что такое аномальный тег? По обращению есть конструктивное обращение. Это рейтинг от 0 до 1; 1 если есть и вложение и люди в описании и тэг определился, иначе 0">Аномалии по неделям</h3>
              <label for="anomalyFilter">Выберите тег: </label>
              <select id="anomalyFilter"></select>
              
              <div id="anomaly-chart" style="height: 400px;"></div>
            </div>
          </div>
        </div>
      
      
        <script>
          const timeFilter = document.getElementById('timeFilter');

          timeFilter.addEventListener('change', function() {
            const timeValue = this.value;
            // Фильтрация данных в зависимости от выбранного времени
            const filteredJsonData = filterDataByTime(jsonData, timeValue);
            const filteredAnomalyData = filterDataByTime(anomalyData, timeValue);
            
            // Обновление графиков
            plotGraph(filteredJsonData, 'line-chart', tagFilter.value);
            plotGraph(filteredAnomalyData, 'anomaly-chart', anomalyFilter.value);
          });


          function filterDataByTime(data, timeValue) {
            const currentDate = new Date();
            const currentYear = currentDate.getFullYear();
            let filteredData = {};

            switch(timeValue) {
              case 'week':
                // Определите начало и конец текущей недели
                const startOfWeek = new Date(currentDate);
                startOfWeek.setDate(currentDate.getDate() - currentDate.getDay() + 1);
                const endOfWeek = new Date(currentDate);
                endOfWeek.setDate(currentDate.getDate() - currentDate.getDay() + 7);

                // Фильтрация данных
                for(const date in data) {
                  const yearWeek = date.split('-W');
                  const year = parseInt(yearWeek[0]);
                  const week = parseInt(yearWeek[1]);

                  // Найти дату начала недели
                  const dateOfStartOfWeek = new Date(year, 0, (week - 1) * 7 + 1);

                  if(dateOfStartOfWeek >= startOfWeek && dateOfStartOfWeek <= endOfWeek) {
                    filteredData[date] = data[date];
                  }
                }
                break;

              case 'month':
                for(const date in data) {
                  const yearWeek = date.split('-W');
                  const year = parseInt(yearWeek[0]);
                  const week = parseInt(yearWeek[1]);

                  // Найти дату начала недели
                  const dateOfStartOfWeek = new Date(year, 0, (week - 1) * 7 + 1);

                  if(dateOfStartOfWeek.getMonth() === currentDate.getMonth() &&
                    dateOfStartOfWeek.getFullYear() === currentYear) {
                    filteredData[date] = data[date];
                  }
                }
                break;

              case 'quarter':
                const currentQuarter = Math.floor(currentDate.getMonth() / 3);
                for(const date in data) {
                  const yearWeek = date.split('-W');
                  const year = parseInt(yearWeek[0]);
                  const week = parseInt(yearWeek[1]);

                  // Найти дату начала недели
                  const dateOfStartOfWeek = new Date(year, 0, (week - 1) * 7 + 1);
                  const weekQuarter = Math.floor(dateOfStartOfWeek.getMonth() / 3);

                  if(weekQuarter === currentQuarter && dateOfStartOfWeek.getFullYear() === currentYear) {
                    filteredData[date] = data[date];
                  }
                }
                break;

              case 'year':
                for(const date in data) {
                  const yearWeek = date.split('-W');
                  const year = parseInt(yearWeek[0]);

                  if(year === currentYear) {
                    filteredData[date] = data[date];
                  }
                }
                break;

              default:
                filteredData = { ...data };
            }

            return filteredData;
          }



          const jsonData = {
            '2023-W39': {'Tag1-тоуотмуомутоамтоумтоумтоум': 10, 'Tag2': 15},
            '2023-W02': {'Tag1': 20, 'Tag2': 25},
          };
        
          const anomalyData = {
            '2023-W39': {'Tag1': 2, 'Tag2': 1},
            '2023-W02': {'Tag1': 3, 'Tag2': 4},
          };
      
          function getUniqueTags(data) {
            const tags = new Set();
            for (const week of Object.values(data)) {
              for (const tag in week) {
                tags.add(tag);
              }
            }
            return Array.from(tags);
          }
      
          function populateTagFilter(tags, filterElementId) {
            const tagFilter = document.getElementById(filterElementId);
            tagFilter.innerHTML = '<option value="all">Все</option>';
            tags.forEach(tag => {
              tagFilter.innerHTML += `<option value="${tag}">${tag}</option>`;
            });
          }
      
          function plotGraph(data, chartElementId, filterTag = 'all') {
            const traces = [];
            let tags = filterTag === 'all' ? getUniqueTags(data) : [filterTag];
            
            tags.forEach((tag, index) => {
                const trace = {
                    x: [],
                    y: [],
                    mode: 'lines',
                    name: tag.length > 10 ? tag.substring(0, 10) + '...' : tag, // Обрезать имя тега, если оно слишком длинное
                    legendgroup: index < 20 ? tag : 'Other'  // Группировать все теги после 20 в одну группу Other
                };
                for (const [week, values] of Object.entries(data)) {
                    trace.x.push(week);
                    trace.y.push(values[tag] || 0);
                }
                traces.push(trace);
            });
  
            function plotGraph_bar(data, chartElementId, filterTag = 'all') {
            const traces = [];
            let tags = filterTag === 'all' ? getUniqueTags(data) : [filterTag];
            
            tags.forEach((tag, index) => {
                const trace = {
                    x: [],
                    y: [],
                    type: 'bar', // Изменено с mode на type и установлено значение bar
                    name: tag.length > 10 ? tag.substring(0, 10) + '...' : tag, 
                    legendgroup: index < 20 ? tag : 'Other'
                };
                for (const [week, values] of Object.entries(data)) {
                    trace.x.push(week);
                    trace.y.push(values[tag] || 0);
                }
                traces.push(trace);
            });

            // Layout для улучшения читаемости
            const layout = {
                barmode: 'stack', 
                xaxis: {
                    tickangle: -45,  // Наклон меток по оси X для лучшей читаемости
                    automargin: true
                },
                yaxis: {
                    title: 'Значения'
                }
            };

            Plotly.newPlot(chartElementId, traces, layout);
        }

        function getUniqueTags(data) {
            const tagsSet = new Set();
            for (const weekValues of Object.values(data)) {
                for (const tag of Object.keys(weekValues)) {
                    tagsSet.add(tag);
                }
            }
            return [...tagsSet];
        }



    const layout = {
        legend: {
            //  настройки для легенды
        }
    };
    
    Plotly.newPlot(chartElementId, traces, layout);
}

      
          // Инициализация
          const uniqueTags = getUniqueTags(jsonData);
          populateTagFilter(uniqueTags, 'tagFilter');
          populateTagFilter(uniqueTags, 'anomalyFilter');
          plotGraph(jsonData, 'line-chart');
          plotGraph_bar(anomalyData, 'anomaly-chart');

          // Обработчики событий
          const tagFilter = document.getElementById('tagFilter');
          const anomalyFilter = document.getElementById('anomalyFilter');

          tagFilter.addEventListener('change', function() {
            anomalyFilter.value = this.value;
            plotGraph(jsonData, 'line-chart', this.value);
            plotGraph(anomalyData, 'anomaly-chart', this.value);
          });
          anomalyFilter.addEventListener('change', function() {
            tagFilter.value = this.value;
            plotGraph(jsonData, 'line-chart', this.value);
            plotGraph(anomalyData, 'anomaly-chart', this.value);
          });
        </script>

      

      </div>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
